{% extends 'base.html.twig' %}

{% block title %}L'endométriose{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 p-3 d-flex flex-column align-items-center">
            <img class="img-fluid" src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
            <h3 class="text-center text-warning mt-5">Ma vision de cette Maladie</h3>
            <p class="text-dark mt-5 home-content lh-xl">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4 p-3">
            <h1 class="text-warning text-center">L’endométriose</h1>
            <p class="text-dark mt-5 home-content lh-">L’endométriose est une maladie complexe qui peut récidiver dans certains cas et générer des douleurs chroniques parfois très difficile à vivre au quotidien.<br><br>
            L’endométriose est ainsi responsable de douleurs pelviennes invalidantes et, dans certains cas, d’infertilité. Ces symptômes ont un impact majeur sur la qualité de vie des personnes atteintes avec un retentissement important sur leur vie personnelle mais également professionnelle et sociale.<br><br>
            Adapter aussi son alimentation peut réduire les douleurs liées à l'endométriose. Améliorer sa qualité de vie passe souvent par des détails insignifiants et inattendus comme l'impact de l'alimentation anti-inflammatoire. A l'écoute de votre corps, vous pouvez diminuer ou éviter les aliments qui semblent augmenter vos douleurs.<br><br>
            Aussi l'acupuncture, l'ostéopathie et le yoga ont montré une amélioration significative de la qualité de vie chez les personnes souffrant de douleurs.<br><br>
            Les personnes atteintes d'endométriose superficielle pourront trouver un équilibre grâce aux médecines douces, sans traitement, avec une hygiène vie adaptée (alimentation, relaxation, yoga, acupuncture, ostéopathie, kinésithérapie, sophrologie, …) qui suffira à stabiliser leurs symptômes et les diminuer.
            </p>
            <img class="img-fluid mt-5" src="{{ asset('build/images/meditating.png') }}" alt="Meditating">
        </div>
        <div class="col-lg-1">
        </div>
    </div>
    <div class="row mt-5 mb-5 g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-7">
            <img class="img-fluid" src="{{ asset('build/images/arrowdown.png') }}" alt="Arrow">
        </div>
    </div>
</div>
{% endblock %}
