{% extends 'base.html.twig' %}

{% block title %}L'endométriose{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5 p-3 d-flex flex-column align-items-center">
            <img class="img-fluid" src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
            <h3 class="text-center text-warning mt-5">Ma vision de cette Maladie</h3>
            <p class="text-dark mt-5 home-content lh-xl">
                Après plusieurs années à vivre avec cette maladie, je peux vous dire que cela est vraiment insupportable et encore le mot est faible ! comme vous devez le savoir entre les douleurs, la fatigue, le travail et le quotidien à gérer et même jusqu’aux rapports intimes et oui ça va jusque là bien entendu un moment très agréable peut devenir très douloureux SUPER !!! Elle est partout, nous suit partout et nous paralyse à chaque instant, mais malgré tout il faut avancer et essayer de vivre avec pas le choix !<br><br>
                Quelquefois, cela est difficile à expliquer “tu as mal au ventre, oui comme toutes les femmes” ou encore “ ça va passer t’inquiète respire” mais oui bien évidemment si cela était si simple de “vous prenez pas vos médicaments, ne venez pas vous plaindre alors!” si cela était si facile de soigner cette foutue maladie je serai la première à prendre les médicaments prescrits mais à part nous abrutir avec, super la solution !! <br><br>
                Moi j’ai décidé de faire sans, c’est difficile presque tous les jours j’arrive par moment à ne plus sentir mes jambes tellement la douleur est présente mais j’avance pour moi et pour mes enfants et mon conjoint ! ils sont tellement importants dans ces moments de crises, ma force à moi, ils sont mes meilleurs antidouleurs !<br><br>
                Et oui malgré “vous n’aurez jamais d’enfants” nous avons eu 3 miracles sans traitement avec une trompe et un ovaire en moins et plus de 40 cm d’intestin en moins aussi et une récidive après juste 6 mois de ma première opération (refus de la deuxième faut pas abuser oh), ne surtout pas perdre espoir les miracles et la nature fait bien les choses aussi !<br><br>
                C’est pour cela que mon chéri a fait ce site le premier pour lui et à sa demande, car lui aussi vit avec tout ça et il ne ressent peut être pas la douleur mais il est là et toujours là ! <br><br>
                Je veux vous montrer suite à mon histoire que la médecine ne sait pas tout, notre corp c’est notre corp et que parfois les miracles arrivent, je ne me permettrai pas bien évidement de vous dire que tout est simple chaque femme est différente mais garder espoir, soyer bien entouré, soutenue et aimé cela est déjà une bataille de gagner, sur cette foutue endométriose !!<br><br>
                Maintenant continuons à nous battre et avançons en nous soutenant, en rigolant nous y arriverons !!!<br><br>
                Au plaisir de vous lire très vite  Gaelle
            </p>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4 p-3">
            <h1 class="text-warning text-center">L’endométriose</h1>
            <p class="text-dark mt-5 home-content lh-">L’endométriose est une maladie complexe qui peut récidiver dans certains cas et générer des douleurs chroniques parfois très difficile à vivre au quotidien.<br><br>
            L’endométriose est ainsi responsable de douleurs pelviennes invalidantes et, dans certains cas, d’infertilité. Ces symptômes ont un impact majeur sur la qualité de vie des personnes atteintes avec un retentissement important sur leur vie personnelle mais également professionnelle et sociale.<br><br>
            Adapter aussi son alimentation peut réduire les douleurs liées à l'endométriose. Améliorer sa qualité de vie passe souvent par des détails insignifiants et inattendus comme l'impact de l'alimentation anti-inflammatoire. A l'écoute de votre corps, vous pouvez diminuer ou éviter les aliments qui semblent augmenter vos douleurs.<br><br>
            Aussi l'acupuncture, l'ostéopathie et le yoga ont montré une amélioration significative de la qualité de vie chez les personnes souffrant de douleurs.<br><br>
            Les personnes atteintes d'endométriose superficielle pourront trouver un équilibre grâce aux médecines douces, sans traitement, avec une hygiène vie adaptée (alimentation, relaxation, yoga, acupuncture, ostéopathie, kinésithérapie, sophrologie, …) qui suffira à stabiliser leurs symptômes et les diminuer.
            </p>
            <img class="img-fluid mt-5" src="{{ asset('build/images/meditating.png') }}" alt="Meditating">
        </div>
        <div class="col-lg-1">
        </div>
    </div>
    <div class="row mt-5 mb-5 g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-7">
            <img class="img-fluid" src="{{ asset('build/images/arrowdown.png') }}" alt="Arrow">
        </div>
    </div>
</div>
{% endblock %}
