{% extends 'base.html.twig' %}

{% block title %}Endométriose Blog{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <img src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
            </div>
            <div class="col-lg-4">
                <h1 class="text-warning">Bienvenue sur endoloris</h1>
            </div>
        </div>
    </div>
{% endblock %}
