<footer class="bg-info">
    <div class="container p-4">
    </div>
    <div class="p-3 bg-primary text-end">
        <a class="foot-link text-dark text-decoration-none fw-bold" style="color: rgba(0, 0, 0, 0.05);" href="https://mdbootstrap.com/">Fait par Samsuffy</a>
    </div>
</footer>