<footer id="footer" class="footer mx-auto text-white text-center">
    <div class="container-fluid bg-primary">
        <div class="row g-0 align-items-center">
            <div class="col-lg-3 col-sm-6 p-2">
                <p class="text-dark mt-3">&copy; {{ "now"|date("Y")}} <strong class="text-warning">Endoloris</strong></p>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="https://www.facebook.com/gaelle.jolivet2/" target="_blank"><img src="{{ asset('build/images/facebook.png') }}" alt="Facebook" style="width: 40px;"></a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a href="https://www.instagram.com/jolivetbrambilla/" target="_blank"><img src="{{ asset('build/images/instagram.png') }}" alt="Instagram" style="width: 40px;"></a>
            </div>
            <div class="col-lg-2 col-sm-6">
                <a class="nav-link fw-bold text-dark" href="{{ path('legals') }}">Mentions Légales</a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="nav-link fw-bold text-dark" style="color: rgba(0, 0, 0, 0.05);" href="https://www.linkedin.com/in/yoann-brambilla-2a13a7234/" target="_blank">Fait par Samsuffy</a>
            </div>
        </div>
    </div>
</footer>