<footer>
    <div class="p-2 bg-primary text-end d-flex justify-content-between">
        <a href="https://fr-fr.facebook.com/"><img src="{{ asset('build/images/facebook.png') }}" alt="Facebook" style="width: 40px;"></a>
        <a href="https://www.instagram.com/?hl=fr"><img src="{{ asset('build/images/instagram.png') }}" alt="Instagram" style="width: 40px;"></a>
        <a class="foot-link text-dark text-decoration-none fw-bold" style="color: rgba(0, 0, 0, 0.05);" href="https://github.com/Samsuffy0100110">Fait par Samsuffy</a>
    </div>
</footer>