<section class="d-flex flex-column align-items-center scrollbar" id="style-scroll">
    <h4 class="p-3 text-center text-dark mt-5 mb-5">Liens utiles</h4>
{{ render(controller('App\\Controller\\HomeController::showLinks')) }}
</section>