<section class="d-flex flex-column align-items-center scroller">
    <h4 class="p-3 text-center text-dark mt-5 mb-5">Liens utiles</h4>
    {# <a class="text-dark nav-link fs-5 mb-3" href="">Endo France</a>
    <p class="text-dark">Super site</p> #}
{{ render(controller('App\\Controller\\HomeController::showLinks')) }}
</section>