* {
    box-sizing: border-box;
}
.sidebar {
    height: auto;
    width: 15%;
}
.scrollbar
{
	height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.comment-scrollbar
{
	height: 50vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-scroll::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
	transparent 25%,
	transparent 50%,
	rgba(255, 255, 255, .2) 50%,
	rgba(255, 255, 255, .2) 75%,
	transparent 75%,
	transparent)
}

// .nav-info{
// 	width: 90%;
// }

.home-content {
	text-align: justify;
}
