{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-outline-warning mt-3 mb-5 text-font-colour">Valider</button>
</div>
{{ form_end(form) }}
