{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <img src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
        </div>
        <div class="col-lg-4">
            <h1 class="text-warning">Forum</h1>
    </div>
    <h2 class="text-center text-warning">Page en cours de construction</h2>
    <img style="width: 40rem" src="{{ asset('build/images/warning.png') }}" alt="Warning">
</div>
{% endblock %}
